---
layout: default
disqus: false
archive: false
post_class: post-template
---

<div class="heroBanner">
    <div class="container">
        <div class="mainheading">
            <ul class="d-flex mb-4 postCategories" id="filter">
                {% for category in page.categories %}
                    <li><a class="py-2 px-3 mr-2 d-block rounded-1 bg-1 text-white" href="#">{{category}}</a></li>
                {% endfor %}
            </ul>
            
            <h1 class="sitetitle mb-3 color-2">{{ page.title }}</h1>
            <p class="lead">
                {{ page.excerpt | strip_html | truncatewords:30 }}
            </p>
        </div>
    </div>
</div>


<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row pt-5">

        

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-lg-9">

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            </div>

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

            <!-- Post Categories -->
            <div class="after-post-cats">
                <ul class="tags mb-4">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Categories -->

            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Tags -->

            <!-- Post Share -->
            <div class="pl-0">
                {% include share.html %}
            </div>

            <!-- Prev/Next -->
            <div class="postNavigation row d-flex justify-content-between font-weight-bold mb-5">

                <div class="col-md-6">
                    {% if page.previous.url %}
                        <a class="prev d-block bg-2 panel flex" href="{{ site.baseurl }}/{{page.previous.url}}"> 
                            <span>&laquo; </span>
                            <div>PREV</div>
                            <p> <span class="underline">{{page.previous.title}}</span></p>
                        </a>
                    {% endif %}
                </div>    
                <div class="col-md-6">

                    {% if page.next.url %}
                        <a class="next d-block text-lg-right bg-2 panel flex" href="{{ site.baseurl }}/{{page.next.url}}">
                            <div>NEXT</div>    
                            <p><span class="underline">{{page.next.title}}</span></p>
                            <span>&raquo; </span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- End Categories -->
        </div>

        <div class="col-lg-3">
            {% include aside.html %}
        </div>

        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->

